# -----------------------------------------------------------------------------
# Fichiers et répertoires liés au contrôle de version (Git)
# -----------------------------------------------------------------------------
.git/        
.gitignore    

# -----------------------------------------------------------------------------
# Fichiers et répertoires spécifiques aux IDE et éditeurs de code
# -----------------------------------------------------------------------------
.vscode/       

# -----------------------------------------------------------------------------
# Fichiers de configuration Docker et de build eux-mêmes
# -----------------------------------------------------------------------------
Dockerfile* 
docker-compose*.yaml 

# -----------------------------------------------------------------------------
# Fichiers et répertoires de build temporaires, caches ou générés localement
# -----------------------------------------------------------------------------
.cache/       
node_modules/

# -----------------------------------------------------------------------------
# Fichiers de secrets et de configuration sensibles ou spécifiques à l'environnement
# NE JAMAIS INCLURE DE SECRETS DANS UNE IMAGE DOCKER DE PRODUCTION.
# -----------------------------------------------------------------------------
.env.dev    # Fichier d'environnement de développement
.env.prod   # Fichier d'environnement de production          

# -----------------------------------------------------------------------------
# Fichiers et répertoires liés au développement ou aux tests qui ne sont pas
# nécessaires au bon fonctionnement de l'application en production.
# -----------------------------------------------------------------------------
tests/         
vendor/        

# -----------------------------------------------------------------------------
# Fichiers de documentation q
# -----------------------------------------------------------------------------
README.md    
*.md           
public/swagger           