[mysqld]
# Force le chargement du plugin mysql_native_password au démarrage
# Alternative au plugin-load-add si cela ne fonctionne pas
# extra_plugins=mysql_native_password
plugin-load-add=mysql_native_password.so